@import 'styles/breakpoints.scss';
@import 'styles/vars.scss';

.linksTerms {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.socialSection,
	.homeSection {
		display: flex;
		justify-content: center;
	}

	.socialSection,
	.termsSection {
		color: #fff;
		opacity: .3;
	}

	.socialSection {
		gap: $home-footer__icons-gap;
	}

	.socialIcon {
		font-size: $home-footer__icon-size;
		cursor: pointer;
	}
}

@include mobileAndTablet {
	.linksTerms {
		.terms {
			font-size: $home-footer__terms-font-size_portrait;
		}
	}
}

@include desktop {
	.linksTerms {
		.terms {
			font-size: $home-footer__terms-font-size_desktop;
		}
	}
}