@import 'styles/_breakpoints.scss';
@import 'styles/_vars.scss';

.cardList {
	background-color: black;
	display: grid;
	place-content: center;
	font-size: 5rem;
	color: white;
	height: 100%;
	max-width: 120rem;
}

@include mobile {
	.cardList {
		column-gap: 1.4rem;
		grid-template-columns: repeat(2, 1fr);	
	}
}

@include tabletAndDesktop {
	.cardList {
		display: grid;
		column-gap: 1.6rem
	}
}

@include desktop {
	.cardList {
		grid-template-columns: repeat(4, 1fr);
	}
}

@include tablet {
	.cardList {
		grid-template-columns: repeat(3, 1fr);
	}
}
