@import 'styles/breakpoints.scss';
@import 'styles/vars.scss';

.homeNav {
	position: relative;

	.ul {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}

	.link span {
		color: #fff;
		font-weight: 400;
		font-size: $home-nav__font-size;
		cursor: pointer;

		&:hover {
			background-color: #fff;
			color: black;
		}
	}
}