//utils
$max-width: 120rem;

//colors
$goat-green: #22B573;

//heder
$header-height-desktop: 6.9rem;
$header-height-mobileAndTablet: 5.5rem;
$headerContent-padding-desktop: 0 3.5rem;
$headerContent-padding-mobileAndTablet: 0 1.6rem;
$headerContent-maxWidth: 120rem;
$headerLink-fontSize-desktop: 1.6rem;
$headerLink-fontSize-mobileAndTablet: 2.4rem;
$linkContaier-gap: 3rem;

//home 
$home-padding_portrait: 2.4rem;
$home-padding_desktop: 3.2rem;
$home__footer-section-padding: 0 1.6rem 1.6rem 1.6rem;
$home__lang-section-padding: 1.6rem;
$home__center-content-padding-top_portrait: 15rem;

//lang-switch
$lang-switch__font-size: 3.2rem;
$lang-switch__inactive-item: #fff;
$lang-switch__active-item: #22B573;
$lang-switch__active-item: #22B573;

//home nav
$home-nav__font-size: 1.6rem;

//home footer
$home-footer__icon-size: 3rem;
$home-footer__icons-gap: 1rem;
$home-footer__terms-font-size_portrait: 1.4rem;
$home-footer__terms-font-size_desktop: 1.6rem;

//menuDrawer
$menuDrawer-padding: 1.6rem;
$drawerContent-gap: 3.2rem;
$drawerLinks-gap: .8rem;
$drawerLink-fontSize: 3.2rem;
$drawerLink-fontWeight: 700;
$closeIcon-padding: 1.6rem;
$closeIcon-font-size: 4.5rem;